<body>

<h2>Ecommerce Store</h2>

<!-- Navbar -->
<nav style="padding:10px; border-bottom:1px solid #ddd;">
    <a href="{% url 'home' %}">Home</a> |
    <a href="{% url 'product_list' %}">Products</a> |

    {% if user.is_authenticated %}
        <a href="{% url 'cart' %}">Cart</a> |
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a> |
        <a href="{% url 'signup' %}">Signup</a>
    {% endif %}
</nav>

{% block content %}{% endblock %}

</body>
