{% extends "base.html" %}
{% block content %}
<a href="/products/">All</a>

{% for cat in categories %}
    <a href="/products/?category={{ cat.id }}">
        {{ cat.name }}
    </a>
{% endfor %}

<form method="get">
    <input type="text" name="search" placeholder="Search products" value="{{ request.GET.search }}">

    <select name="category">
        <option value="">All Categories</option>
        {% for cat in categories %}
            <option value="{{ cat.id }}"
                {% if request.GET.category == cat.id|stringformat:"s" %}selected{% endif %}>
                {{ cat.name }}
            </option>
        {% endfor %}
    </select>

    <button type="submit">Filter</button>
</form>


{% for p in page_obj %}
    <div class="card">
        <h3>{{ p.name }}</h3>
        <p>{{ p.price }}</p>

        {% if p.image %}
            <img src="{{ p.image.url }}">
        {% endif %}

        <a href="{% url 'product_detail' p.id %}">View</a>
    </div>
{% endfor %}
<div style="margin-top:20px;">

{% if page_obj.has_previous %}
  <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}

<span> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} </span>

{% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}">Next</a>
{% endif %}

</div>

</div>
{% endblock %}

